## Configurações específicas do usuário 
# Salva o estado do Xcode, como arquivos abertos, breakpoints, etc.
xcuserdata/
*.xcuserdatad
*.user
*.xcuserstate

## Arquivos gerados pelo Build 
# Contém os arquivos compilados e o cache do projeto.
build/
DerivedData/

# Ignora a pasta de build do SPM.
.build/

# A pasta .swiftpm contém configurações do workspace e deve ser ignorada.
.swiftpm/

## Arquivos do macOS
.DS_Store

## Arquivos de empacotamento do App
*.ipa
*.dSYM.zip
*.dSYM

# Carthage
Carthage/Build/

# fastlane
SwiftRepos/fastlane/report.xml
SwiftRepos/fastlane/test_output/